body {
    margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
  }
  
  body::before {
    /* content: "XS"; */
    /* color: red; */
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }

/* Nav Bar */
/* Nav Bar Container */

.navbar-brand, .navbar-nav {
    margin-right: auto;
    margin-left: auto;
}




/* Table styling */
/* Centering table's content */
.table th,
.table td {
    text-align: center;
}


/* Course Catelogue */
    /* Add margin between each card */
.card {
    margin-bottom: 20px; /* Add margin at the bottom of each card */
    margin-right: 20px; /* Add margin to the right of each card */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

.card-header {
    font-size: 1rem; /* Adjust font size as needed */
}
/* Ensure images within cards are responsive */
.card-img {
    width: 100%;
    height: auto;
}

/* Style card titles */
.card-title {
    font-size: 1.25rem; /* Adjust font size as needed */
    margin-bottom: 0.5rem; /* Add margin below title */
    /* color: #006d5b; Set color for title text */
    color: #045363;
    font-size: ;
}

/* Style card subtitles */
.card-subtitle {
    font-size: 1rem; /* Adjust font size as needed */
    color: #000000; /* Set color for subtitle text */
    margin-bottom: 0.5rem; /* Add margin below subtitle */
}

/* Style card text */
.card-text {
    margin-top: 0.5rem; /* Add margin
    font-size: 0.875rem; /* Adjust font size as needed */
    color: #6c757d; /* Set color for card text */
}
